# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Node
node_modules/
dist/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
backend/app/uploads/*
!backend/app/uploads/.gitkeep

# Poetry
poetry.lock

# Build
frontend/dist/
